<!DOCTYPE html>
<html>
  <head>
    <title>The Heavy Hitters</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href='../images/favicon.png' type="image/png">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" unless @skip_footer %>
  </body>
</html>
